<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClimateNet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('about') }}">About</a>
        <a href="{{ url_for('contact') }}">Contact</a>
    </nav>
    <h1>ClimateNet Training</h1>
    <p>This is the home page of my website using flask, nginx, gunicorn, AWS ec2.</p>

    <div class="image-section">
        <img src="{{ url_for('static', filename='home-image.png') }}" alt="Home Image">
    </div>

    {% include 'partials/footer.html' %}
</body>
</html>